<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <title>List of Pages</title>
	</head>
	<body>
    <ul>
      {{range .}}
        <li><a href="/pages/{{.}}">{{.}}</a></li>
      {{else}}
        <h1>No Pages</h1>
      {{end}}
    </ul>
	</body>
</html>
